.md-header {
    padding: 0.5rem;
    margin-bottom: -0.1rem;
    box-shadow: 0 0 0.35rem 0.5rem var(--celestadoc-bg-1) !important;
    background-color: var(--celestadoc-bg-1);
}

.md-sidebar .md-nav__link--active {
    border-left: 4px solid var(--md-default-fg-color);
    padding-left: 16px;
}

.md-header__topic .md-ellipsis {
    display: none;
}

.md-footer {
    padding: 2rem;
}

.md-nav__source {
    background-color: transparent;
}

.md-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 45rem;
    margin: 0 auto;
}

.md-footer__link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.md-footer__link:hover {
    color: var(--celestadoc-primary-1);
}

.md-footer__direction {
    display: block;
    font-size: 12px;
    color: var(--celestadoc-primary-1);
    margin-bottom: 4px;
}

.md-footer-meta {
    margin-top: 10px;
    padding-top: 10px;
}

.md-footer-meta__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.md-content hr {
    background-color: var(--celestadoc-primary);
}

.md-typeset .md-tag {
    background-color: transparent;
}

.md-typeset .md-tag:hover {
    background-color: transparent !important;
    color: var(--celestadoc-primary-1) !important;
}

h1, h2, h3 {
    font-weight: bold !important;
}